    body {
    background-image: url("../../assets/images/bg.jpg");
    font-family: 'Roboto Mono', monospace;
    align-content: center;
    text-align: center;
    font-size: 14px;
    color: white;
}

h1 {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 2rem;
    padding:50px 5px 5px 5px;
}

.byline {
    font-family: 'Lato', 'Arial', sans-serif;
}

.row {
    margin-top: 20px;
}

.card-title {
    margin-bottom:0;
}
.score {
    font-family: 'VT323', monospace;
}

@keyframes star {
    0% {
        opacity: 0;
        transform: scale(1.5) translateY(-0.75em);
    }
    20% {
        opacity: 1;
    }
    89% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: translateZ(-1000em);
        display: none;
    }
}

@keyframes wars {
    0% {
        opacity: 0;
        transform: scale(1.5) translateY(-0.75em);
    }
    20% {
        opacity: 1;
    }
    89% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: translateZ(-1000em);
        display: none;
    }
}

.star {
    width: 70%;
    position: relative;
    top: 100px;
    animation: star 5s ease-out;
}

.wars {
    width: 70%;
    position: relative;
    top: 200px;
    animation: wars 5s ease-out;
}

.starwars-intro {
    width: 100%;
    margin: 150px 0px;
    perspective: 800px;
    transform-style: preserve3d;
    align-content: center;
    position: absolute;
    top: 0px;
}

@keyframes spin-letters {
    0%,
    10% {
        opacity: 0;
        transform: rotateY(90deg);
    }
    30% {
        opacity: 1;
    }
    70%,
    86% {
        transform: rotateY(0);
        opacity: 1;
    }
    95%,
    100% {
        opacity: 0;
    }
}

.byline span {
    position: relative;
    top: -88px;
    animation: spin-letters 5s linear;
}

.byline {
    width: 100%;
    font-stretch: extra-expanded;
    color: white;
    align-content: center;
    text-align: center;
    font-size: 5rem;
    vertical-align: middle;
    animation: move-byline 5s linear;
}

#gameboard {
    align-content: center;
    margin: 20px 100px;
}

#yourFighter {
    align-content: center;
    flex: content;
    justify-content: space-between;
}

#fighterBox,
#defenderBox,
#enemiesBox {
    height: 160px;    
    flex: content;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

/* create fighter card */


.fighterCard {
    width: 180px;
    height: 184px;
    background-color: white;
    border: 2px solid green;
    align-content: center;
    position: relative;
    top: 0px;
    margin: 0px 5px;
    padding: 5px;
}

.fighterCard:hover {
    background-color:#82e790;
}


.fighterName {
    position: relative;
    top: 0px;
    color: black;
    font-size: .8rem;
}

.fighterPic {
    width: 100%;
    position: relative;
    top: 0px;
}

.fighterHealth {
    position: relative;
    top: 5px;
    color: black;
    font-size: .7rem;
}

/* #enemies {
    align-content: center;
}

#fightSection {
    align-content: center;
}

#defender {
    align-content: center;
} */

#messageBar {
    animation: msg 2s;
}

@keyframes msg {
    0% {

    }
    50% {

    }
    100%{

    }
}